.theme-items-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    .theme-item{
        display: flex;
        align-items: center;
        padding: 5px;
        img{
            max-width: 30px;
            height: 30px;
        }
    }
}

.header {
    position: absolute;
    width: 100%;
    .header-top {
        padding: 1% var(--padding-size);
        form{
            .input-text-wrapper{
                margin: 0 auto;
                width: 40%;
                position: relative;
                &::before{
                    content: '';
                    top: 8%;
                    right: 1%;
                    position: absolute;
                    width: 10%;
                    height: 90%;
                    background-image: url('../images/search-icon.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    animation: searchIcon 3s linear infinite;
                }
                input[type="text"] {
                    display: block;
                    width: 100%;
                    padding: 2.5% 4%;
                    border: 1px solid var(--header-txt-clr);
                    border-radius: 20px;
                    outline: none;
                    font-size: 1rem;
                    font-family: "Inconsolata", monospace;
                    background-color: var(--search-bg-clr);
                }
                input[type="text"]::placeholder {
                    font-weight: bold;
                }
                @keyframes searchIcon {
                    0%{
                        top: 8%;
                        right: 1%;
                    }
                    20% {
                        top: 15%;
                        right: 3%;
                    }
                    40%{
                        top: 10%;
                        right: 0%;
                    }
                    60%{
                        top: 0%;
                        right: 0%;
                    }
                    80%{
                        top: 0%;
                        right: 3%;
                    }
                    100%{
                        top: 8%;
                        right: 1%;
                    }
                }
            }
        }
    }
    .header-bottom {
        padding: 0% 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-contents-mobile {
            display: none;
        }
        .logo-image{
            img{
                max-width: 60px;
                height: auto;
            }
        }
        .header-contents{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: var(--header-text);
            text-transform: uppercase;
            font-size: 1.2rem;
            gap: var(--header-gap);
            .nav-bar{
                .nav-list{
                    display: flex;
                    justify-content: space-between;
                    gap: var(--header-gap);
                    transition: color 5s ease;
                    .nav-list-item{
                        padding: 15px 0;
                        a{
                            color: var(--header-txt-clr);
                        }
                        .nav-about-list , .nav-contact-list{
                            display: none;
                        }
                        &:hover > a{
                            background-clip: text;
                            animation: textEffect 5s ease infinite;
                            color: transparent;
                            font-weight: bold;
                        }
                        @keyframes textEffect {
                            0% {
                                background-image: linear-gradient(to top, rgb(223, 64, 238), rgb(227, 92, 100));
                            }
                            50% {
                                background-image: linear-gradient(to top, rgb(227, 92, 100), rgb(223, 64, 238));
                            }
                            100% {
                                background-image: linear-gradient(to top, rgb(223, 64, 238), rgb(227, 92, 100));
                            }
                        }
                    }
                    .about {
                        position: relative;
                        .nav-about-list{
                            position: absolute;
                            top: 100%;
                            left: 0;
                            .about-list-links:hover a{
                                background-clip: text;
                                animation: textEffect 5s ease infinite;
                                color: transparent;
                                font-weight: bold;
                            }
                            
                        }
                        &:hover .nav-about-list{
                            display: block;
                        }
                    }
                    .contact {
                        position: relative;
                        .nav-contact-list{
                            position: absolute;
                            top: 100%;
                            left: 0;
                            & a:hover{
                                background-clip: text;
                                animation: textEffect 5s ease infinite;
                                color: transparent;
                                font-weight: bold;
                            }
                        }
                        &:hover .nav-contact-list{
                            display: flex;
                            flex-wrap: wrap;
                            gap: 5px;
                        }
                    }
                }
            }
            .page-theme{
                background-color: var(--search-bg-clr);
                border: 1px solid var(--header-txt-clr);
                border-radius: 20px;
                .theme-item{
                    border-radius: 50%;
                    &:hover{
                        animation: scaleRotate 5s ease 1;
                    }
                    @keyframes scaleRotate {
                        from {
                            transform: scale(1) rotate(0deg);
                        }
                        to{
                            transform: scale(1.2) rotate(360deg);
                        }
                    }
                }
            }
        }
        @media (max-width: 727px){
            .header-contents{
                display: none;
            }
            .header-contents-mobile {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 50px;
                .page-theme-mobile{
                    .theme-items-container{
                        .theme-item {
                            img {
                                max-width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
                .hamburger-menu{
                    & > div{
                        width: 20px;
                        height: 2px;
                        border-radius: 2px;
                        background-color: var(--header-txt-clr);
                        //font-size: 1.2rem;
                    }
                    #meat{
                        margin: 3px 0px;
                    }
                    .hamburger-menu-list{
                        display: none;
                    }
                }
            }
        }
    }
}
