.theme-items-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    .theme-item{
        display: flex;
        align-items: center;
        padding: 5px;
        img{
            max-width: 30px;
            height: 30px;
        }
    }
}

.disappear{
    display: none;
}

.header {
    position: absolute;
    width: 100%;
    .header-top {
        padding: 1% var(--padding-size);
        form{
            .input-text-wrapper{
                margin: 0 auto;
                width: 40%;
                position: relative;
                .magnifier-icon{
                    top: 8%;
                    right: 3%;
                    position: absolute;
                    width: 8%;
                    height: 80%;
                    animation: searchIcon 3s linear infinite;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                input[type="text"] {
                    display: block;
                    width: 100%;
                    padding: 2.5% 4%;
                    border: 1px solid var(--header-txt-clr);
                    border-radius: 20px;
                    outline: none;
                    font-size: 1rem;
                    font-family: "Inconsolata", monospace;
                    background-color: var(--search-bg-clr);
                }
                input[type="text"]::placeholder {
                    font-weight: bold;
                }
                @keyframes searchIcon {
                    0%{
                        top: 8%;
                        right: 3%;
                    }
                    20% {
                        top: 15%;
                        right: 5%;
                    }
                    40%{
                        top: 10%;
                        right: 2%;
                    }
                    60%{
                        top: 0%;
                        right: 2%;
                    }
                    80%{
                        top: 0%;
                        right: 5%;
                    }
                    100%{
                        top: 8%;
                        right: 3%;
                    }
                }
                @media(max-width: 768px) {
                    .magnifier-icon{
                        display: none;  
                    }
                }
                @media(max-width: 498px) {
                    input[type="text"] {
                        margin-top: 10px;
                        font-size: 12px;
                    }
                }
                @media(max-width: 299px) {
                    input[type="text"] {
                        font-size: 8px;
                    }
                }
            }
        }
    }
    .header-bottom {
        width: 100%;
        padding: 0% 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 5;
        .header-contents-mobile {
            display: none;
        }
        .logo-image{
            cursor: pointer;
            img{
                max-width: 60px;
                height: auto;
            }
        }
        .header-contents{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: var(--header-text);
            text-transform: uppercase;
            font-size: 1.2rem;
            gap: var(--header-gap);
            .nav-bar{
                .nav-list{
                    display: flex;
                    justify-content: space-between;
                    gap: var(--header-gap);
                    transition: color 5s ease;
                    .nav-list-item{
                        padding: 15px 0;
                        p{
                            color: var(--header-txt-clr);
                        }
                        .nav-about-list , .nav-contact-list{
                            display: none;
                        }
                        &:hover p{
                            background-clip: text;
                            animation: textEffect 5s ease infinite;
                            color: transparent;
                            font-weight: bold;
                        }
                        @keyframes textEffect {
                            0% {
                                background-image: linear-gradient(to top, rgb(223, 64, 238), rgb(227, 92, 100));
                            }
                            50% {
                                background-image: linear-gradient(to top, rgb(227, 92, 100), rgb(223, 64, 238));
                            }
                            100% {
                                background-image: linear-gradient(to top, rgb(223, 64, 238), rgb(227, 92, 100));
                            }
                        }
                    }
                    .about {
                        position: relative;
                        .nav-about-list{
                            position: absolute;
                            cursor: pointer;
                            top: 100%;
                            left: 0;
                            color: var(--header-txt-clr);
                            .about-list-links:hover{
                                background-clip: text;
                                animation: textEffect 5s ease infinite;
                                color: transparent;
                                font-weight: bold;
                            }
                        }
                        &:hover .nav-about-list{
                            display: block;
                        }
                    }
                    .contact {
                        position: relative;
                        .nav-contact-list{
                            position: absolute;
                            top: 100%;
                            left: 0;
                            cursor: pointer;
                            i{
                                color: var(--header-txt-clr);
                            }
                            & i:hover{
                                background-clip: text;
                                animation: textEffect 5s ease infinite;
                                color: transparent;
                                font-weight: bold;
                            }
                        }
                        &:hover .nav-contact-list{
                            display: flex;
                            flex-wrap: wrap;
                            gap: 5px;
                        }
                    }
                }
            }
            .page-theme{
                background-color: var(--search-bg-clr);
                border: 1px solid var(--header-txt-clr);
                border-radius: 20px;
                cursor: pointer;
                .theme-item{
                    border-radius: 50%;
                    &:hover{
                        transition: transform 5s;
                        transform: rotate(360deg);
                    }
                }
            }
            .active-theme{
                background-color: rgb(252, 217, 224);
            }
        }
        @media (min-width: 769px) {
            .hamburger-menu-list-page{
                display: none;
            }
        }
        @media (max-width: 768px){
            .header-contents{
                display: none;
            }
            .header-contents-mobile {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .hamburger-menu{
                    position: relative;
                    z-index: 3;
                    & > div{
                        width: 20px;
                        height: 2px;
                        border-radius: 2px;
                        background-color: var(--header-txt-clr);
                        transition: transform 2s;
                    }
                    .meat{
                        margin: 3px 0px;
                    }
                    .rotateRight{
                        transform: rotate(45deg);
                    }
                    .rotateLeft{
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: rotate(-45deg);
                    }
                }
            }
            .hamburger-menu-list-page{
                display: none;
                .hamburger-menu-list{
                    .hamburger-menu-list-item a{
                        color: var(--header-txt-clr);
                    }
                    .contact-me{
                        padding-top: 200px;
                        .hamburger-contacts{
                            display: flex;
                            gap: 10px;
                        }
                    }
                }
            }
            .hamburger-clicked{
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                z-index: 2;
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
                color: var(--header-txt-clr);
                background-color: var(--main-tone);
                font-family: var(--header-text);
                font-size: 1.2rem;
                line-height: 1.5rem;
            }
        }
        @media(max-width: 498px) {
            .logo-image{
                img{
                    max-width: 40px;
                }
            }
        }
        @media(max-width: 299px) {
            .logo-image{
                img{
                    max-width: 30px;
                }
            }
        }
    }
}
