.hero-section{
    padding-left: var(--padding-size);
    padding-right: var(--padding-size);
    height: 115vh;
    padding-top: 120px;
    background-image: url('../images/hero-bg.png');
    background-size: cover;
    .hero-items{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .hero-text{
            flex-basis: 50%;
            p{
                padding-left: 200px;
                font-size: 1.5rem;
                font-family: "Inconsolata", monospace;
            }
        }
        .hero-image{
            flex-basis: 33%;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}
@media (max-width: 981px){
    .hero-section{
        padding-right: 150px;
        .hero-items{
            .hero-text{
                p{
                    padding-left: 150px;
                }
            }
        }
    }
}
@media (max-width: 845px){
    .hero-section{
        padding-left: 100px;
        padding-right: 100px;
        .hero-items{
            .hero-text{
                p{
                    padding-left: 0;
                }
            }
        }
    }
}
@media (max-width: 768px){
    .hero-section{
        padding-left: 70px;
        padding-right: 70px;
        .hero-items{
            .hero-text{
                p{
                    font-size: 1rem;
                }
            }
            .hero-image{
                flex-basis: 50%;
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
@media (max-width: 578px){
    .hero-section{
        height: 130vh;
        .hero-items{
            flex-flow: wrap-reverse;
            .hero-text{
                flex-basis: 100%;
                padding-bottom: 100px;
                text-align: center;
                p{
                    font-size: 1.2rem;
                }
            }
            .hero-image{
                padding: 50px 0 50px;
                flex-basis: 100%;
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
@media (max-width: 578px){
    .hero-section{
        height: 130vh;
        flex-flow: wrap-reverse;
        .hero-text{
            flex-basis: 100%;
            padding-bottom: 100px;
            text-align: center;
            p{
                font-size: 1.2rem;
            }
        }
        .hero-image{
            padding: 50px 0 50px;
            flex-basis: 100%;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}
@media (max-width: 370px){
    .hero-section{
        height: 100vh;
        .hero-items{
            .hero-image{
                padding-top: 50px;
                padding-bottom: 10px;
            }
        }
    }
}
@media (max-width: 324px){
    .hero-section{
        padding-right: 20px;
        padding-left: 20px;
        .hero-items{
            .hero-text{
                p{
                    font-size: 14px;
                }
            }
            .hero-image{
                padding-top: 50px;
                flex-basis: 100%;
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
.hero-dark{
    background-image: url('../images/hero-bg-dark.png');
    color: var(--dark-mode-txt);
}
