.theme-items-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.theme-items-container .theme-item {
  display: flex;
  align-items: center;
  padding: 5px;
}
.theme-items-container .theme-item img {
  max-width: 30px;
  height: 30px;
}

.header {
  position: absolute;
  width: 100%;
}
.header .header-top {
  padding: 1% var(--padding-size);
}
.header .header-top form .input-text-wrapper {
  margin: 0 auto;
  width: 40%;
  position: relative;
}
.header .header-top form .input-text-wrapper .disappeared {
  display: none;
}
.header .header-top form .input-text-wrapper .magnifier-icon {
  top: 8%;
  right: 3%;
  position: absolute;
  width: 8%;
  height: 80%;
  animation: searchIcon 3s linear infinite;
}
.header .header-top form .input-text-wrapper .magnifier-icon img {
  width: 100%;
  height: auto;
}
.header .header-top form .input-text-wrapper input[type=text] {
  display: block;
  width: 100%;
  padding: 2.5% 4%;
  border: 1px solid var(--header-txt-clr);
  border-radius: 20px;
  outline: none;
  font-size: 1rem;
  font-family: "Inconsolata", monospace;
  background-color: var(--search-bg-clr);
}
.header .header-top form .input-text-wrapper input[type=text]::-moz-placeholder {
  font-weight: bold;
}
.header .header-top form .input-text-wrapper input[type=text]::placeholder {
  font-weight: bold;
}
@keyframes searchIcon {
  0% {
    top: 8%;
    right: 3%;
  }
  20% {
    top: 15%;
    right: 5%;
  }
  40% {
    top: 10%;
    right: 2%;
  }
  60% {
    top: 0%;
    right: 2%;
  }
  80% {
    top: 0%;
    right: 5%;
  }
  100% {
    top: 8%;
    right: 3%;
  }
}
@media (max-width: 768px) {
  .header .header-top form .input-text-wrapper .magnifier-icon {
    display: none;
  }
}
@media (max-width: 498px) {
  .header .header-top form .input-text-wrapper input[type=text] {
    margin-top: 10px;
    font-size: 12px;
  }
}
@media (max-width: 299px) {
  .header .header-top form .input-text-wrapper input[type=text] {
    font-size: 8px;
  }
}
.header .header-bottom {
  width: 100%;
  padding: 0% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-bottom .header-contents-mobile {
  display: none;
}
.header .header-bottom .logo-image {
  cursor: pointer;
}
.header .header-bottom .logo-image img {
  max-width: 60px;
  height: auto;
}
.header .header-bottom .header-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--header-text);
  text-transform: uppercase;
  font-size: 1.2rem;
  gap: var(--header-gap);
}
.header .header-bottom .header-contents .nav-bar .nav-list {
  display: flex;
  justify-content: space-between;
  gap: var(--header-gap);
  transition: color 5s ease;
}
.header .header-bottom .header-contents .nav-bar .nav-list .nav-list-item {
  padding: 15px 0;
}
.header .header-bottom .header-contents .nav-bar .nav-list .nav-list-item p {
  color: var(--header-txt-clr);
}
.header .header-bottom .header-contents .nav-bar .nav-list .nav-list-item .nav-about-list, .header .header-bottom .header-contents .nav-bar .nav-list .nav-list-item .nav-contact-list {
  display: none;
}
.header .header-bottom .header-contents .nav-bar .nav-list .nav-list-item:hover p {
  -webkit-background-clip: text;
          background-clip: text;
  animation: textEffect 5s ease infinite;
  color: transparent;
  font-weight: bold;
}
@keyframes textEffect {
  0% {
    background-image: linear-gradient(to top, rgb(223, 64, 238), rgb(227, 92, 100));
  }
  50% {
    background-image: linear-gradient(to top, rgb(227, 92, 100), rgb(223, 64, 238));
  }
  100% {
    background-image: linear-gradient(to top, rgb(223, 64, 238), rgb(227, 92, 100));
  }
}
.header .header-bottom .header-contents .nav-bar .nav-list .about {
  position: relative;
}
.header .header-bottom .header-contents .nav-bar .nav-list .about .nav-about-list {
  position: absolute;
  cursor: pointer;
  top: 100%;
  left: 0;
  color: var(--header-txt-clr);
}
.header .header-bottom .header-contents .nav-bar .nav-list .about .nav-about-list .about-list-links:hover {
  -webkit-background-clip: text;
          background-clip: text;
  animation: textEffect 5s ease infinite;
  color: transparent;
  font-weight: bold;
}
.header .header-bottom .header-contents .nav-bar .nav-list .about:hover .nav-about-list {
  display: block;
}
.header .header-bottom .header-contents .nav-bar .nav-list .contact {
  position: relative;
}
.header .header-bottom .header-contents .nav-bar .nav-list .contact .nav-contact-list {
  position: absolute;
  top: 100%;
  left: 0;
  cursor: pointer;
}
.header .header-bottom .header-contents .nav-bar .nav-list .contact .nav-contact-list i {
  color: var(--header-txt-clr);
}
.header .header-bottom .header-contents .nav-bar .nav-list .contact .nav-contact-list i:hover {
  -webkit-background-clip: text;
          background-clip: text;
  animation: textEffect 5s ease infinite;
  color: transparent;
  font-weight: bold;
}
.header .header-bottom .header-contents .nav-bar .nav-list .contact:hover .nav-contact-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.header .header-bottom .header-contents .page-theme {
  background-color: var(--search-bg-clr);
  border: 1px solid var(--header-txt-clr);
  border-radius: 20px;
  cursor: pointer;
}
.header .header-bottom .header-contents .page-theme .theme-item {
  border-radius: 50%;
}
.header .header-bottom .header-contents .page-theme .theme-item:hover {
  transition: transform 5s;
  transform: rotate(360deg);
}
.header .header-bottom .header-contents .active-theme {
  background-color: rgb(252, 217, 224);
}
@media (min-width: 769px) {
  .header .header-bottom .hamburger-menu-list-page {
    display: none;
  }
}
@media (max-width: 768px) {
  .header .header-bottom .header-contents {
    display: none;
  }
  .header .header-bottom .header-contents-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .header-bottom .header-contents-mobile .hamburger-menu {
    position: relative;
    z-index: 3;
  }
  .header .header-bottom .header-contents-mobile .hamburger-menu > div {
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--header-txt-clr);
    transition: transform 2s;
  }
  .header .header-bottom .header-contents-mobile .hamburger-menu .meat {
    margin: 3px 0px;
  }
  .header .header-bottom .header-contents-mobile .hamburger-menu .rotateRight {
    transform: rotate(45deg);
  }
  .header .header-bottom .header-contents-mobile .hamburger-menu .disappear {
    opacity: 0;
  }
  .header .header-bottom .header-contents-mobile .hamburger-menu .rotateLeft {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-45deg);
  }
  .header .header-bottom .hamburger-menu-list-page {
    display: none;
  }
  .header .header-bottom .hamburger-menu-list-page .hamburger-menu-list .hamburger-menu-list-item a {
    color: var(--header-txt-clr);
  }
  .header .header-bottom .hamburger-menu-list-page .hamburger-menu-list .contact-me {
    padding-top: 200px;
  }
  .header .header-bottom .hamburger-menu-list-page .hamburger-menu-list .contact-me .hamburger-contacts {
    display: flex;
    gap: 10px;
  }
  .header .header-bottom .hamburger-clicked {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--header-txt-clr);
    background-color: var(--main-tone);
    font-family: var(--header-text);
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 498px) {
  .header .header-bottom .logo-image img {
    max-width: 40px;
  }
}
@media (max-width: 299px) {
  .header .header-bottom .logo-image img {
    max-width: 30px;
  }
}

.hero-section {
  padding-left: var(--padding-size);
  padding-right: var(--padding-size);
  height: 115vh;
  padding-top: 120px;
  background-image: url("../images/hero-bg.png");
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.hero-section .hero-text {
  flex-basis: 50%;
}
.hero-section .hero-text p {
  padding-left: 200px;
  font-size: 1.5rem;
  font-family: "Inconsolata", monospace;
}
.hero-section .hero-image {
  flex-basis: 33%;
}
.hero-section .hero-image img {
  width: 100%;
  height: auto;
}

@media (max-width: 981px) {
  .hero-section {
    padding-right: 150px;
  }
  .hero-section .hero-text p {
    padding-left: 150px;
  }
}
@media (max-width: 845px) {
  .hero-section {
    padding-left: 100px;
    padding-right: 100px;
  }
  .hero-section .hero-text p {
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .hero-section {
    padding-left: 70px;
    padding-right: 70px;
  }
  .hero-section .hero-text p {
    font-size: 1rem;
  }
  .hero-section .hero-image {
    flex-basis: 50%;
  }
  .hero-section .hero-image img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 578px) {
  .hero-section {
    height: 130vh;
    flex-flow: wrap-reverse;
  }
  .hero-section .hero-text {
    flex-basis: 100%;
    padding-bottom: 100px;
    text-align: center;
  }
  .hero-section .hero-text p {
    font-size: 1.2rem;
  }
  .hero-section .hero-image {
    padding: 50px 0 50px;
    flex-basis: 100%;
  }
  .hero-section .hero-image img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 578px) {
  .hero-section {
    height: 130vh;
    flex-flow: wrap-reverse;
  }
  .hero-section .hero-text {
    flex-basis: 100%;
    padding-bottom: 100px;
    text-align: center;
  }
  .hero-section .hero-text p {
    font-size: 1.2rem;
  }
  .hero-section .hero-image {
    padding: 50px 0 50px;
    flex-basis: 100%;
  }
  .hero-section .hero-image img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 370px) {
  .hero-section {
    height: 100vh;
  }
  .hero-section .hero-image {
    padding-top: 50px;
    padding-bottom: 10px;
  }
}
@media (max-width: 324px) {
  .hero-section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .hero-section .hero-text p {
    font-size: 14px;
  }
  .hero-section .hero-image {
    padding-top: 50px;
    flex-basis: 100%;
  }
  .hero-section .hero-image img {
    width: 100%;
    height: auto;
  }
}
.hero-dark {
  background-image: url("../images/hero-bg-dark.png");
}

.swiper-wrapper {
  padding-bottom: 60px;
}
.swiper-wrapper .swiper-slide {
  width: 200px;
  position: relative;
  cursor: pointer;
  transition: transform 2s;
}
.swiper-wrapper .swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
}
.swiper-wrapper .swiper-slide::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 98, 197, 0.377);
  transition: transform 1s;
}
.swiper-wrapper .swiper-slide:hover {
  transform: scale(1.05);
}
.swiper-wrapper .swiper-slide:hover::before {
  display: none;
}
@media (max-width: 410) {
  .swiper-wrapper .swiper-slide {
    width: 150px;
  }
  .swiper-wrapper .swiper-slide:hover {
    transform: scale(1);
  }
}

.swiper-pagination-bullet-active {
  background-color: rgb(251, 111, 178);
}

.projects-section {
  padding-left: var(--padding-size);
  padding-right: var(--padding-size);
  padding-bottom: 80px;
  background-image: url("../images/projects-bg.png");
}
.projects-section h3 {
  text-transform: uppercase;
  padding-bottom: 100px;
  font-family: var(--header-text);
  font-size: 1.6rem;
  text-align: center;
  -webkit-background-clip: text;
          background-clip: text;
  animation: textEffect 5s ease infinite;
  color: transparent;
  font-weight: bold;
}
@media (max-width: 410px) {
  .projects-section h3 {
    font-size: 1.2rem;
    padding-bottom: 50px;
  }
}

.projects-dark {
  background-image: url("../images/projects-bg-dark.png");
}

.footer {
  background-image: url(../images/footer-bg.jpg);
  background-position: center;
  padding: 0 var(--padding-size);
}
.footer .footer-top {
  padding-top: 60px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.footer .footer-top .footer-item h6 {
  text-align: center;
  color: var(--header-txt-clr);
  padding-bottom: 20px;
  font-size: 1.2rem;
  font-family: var(--header-text);
  text-transform: uppercase;
  -webkit-background-clip: text;
          background-clip: text;
  animation: textEffect 5s ease infinite;
  color: transparent;
  font-weight: bold;
}
.footer .footer-top .footer-item .skills-list {
  padding-right: 150px;
  color: var(--header-txt-clr);
  line-height: 1.5rem;
  text-transform: uppercase;
  font-family: var(--header-text);
}
.footer .footer-top .footer-item .skills-list li i {
  padding-right: 20px;
  color: var(--footer-txt);
}
@media (max-width: 580px) {
  .footer .footer-top .footer-item .skills-list .skills-list {
    text-align: center;
  }
}
.footer .footer-top .footer-item .footer-contact-list {
  font-size: 24px;
  display: flex;
  gap: 15px;
}
.footer .footer-top .footer-item .footer-contact-list li i {
  color: var(--header-txt-clr);
  -webkit-background-clip: text;
          background-clip: text;
}
.footer .footer-top .footer-item .footer-contact-list li i:hover {
  animation: textEffect 5s ease infinite;
  color: transparent;
  font-weight: bold;
}
.footer .footer-top .footer-item .footer-input form {
  display: flex;
}
.footer .footer-top .footer-item .footer-input form .email-input {
  outline: none;
  font-family: var(--paragraph-text);
  color: var(--header-txt-clr);
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 20px 0 0 20px;
  width: 200px;
}
@media (max-width: 412px) {
  .footer .footer-top .footer-item .footer-input form .email-input {
    width: 150px;
  }
}
.footer .footer-top .footer-item .footer-input form .subscribe-button {
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 0 20px 20px 0;
  color: var(--header-txt-clr);
  background-color: var(--search-bg-clr);
  transition: background-color 2s;
}
.footer .footer-top .footer-item .footer-input form .subscribe-button:hover {
  background-color: var(--main-tone);
}
.footer .footer-bottom {
  padding-bottom: 40px;
}
.footer .footer-bottom p {
  text-align: center;
  font-size: 16px;
  font-family: var(--paragraph-text);
}
.footer .footer-bottom p #heart {
  color: rgb(255, 105, 180);
}
@media (max-width: 856px) {
  .footer .footer-top {
    flex-wrap: wrap;
  }
  .footer .footer-top .footer-item {
    flex-basis: 50%;
    padding-bottom: 40px;
  }
}
@media (max-width: 580px) {
  .footer .footer-top {
    justify-content: center;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body .body-content {
  position: relative;
  overflow-x: hidden;
}
body #canvas {
  position: absolute;
  width: 100vw;
  cursor: none;
}
@media (max-width: 727px) {
  body #canvas {
    display: none;
  }
}

:root {
  --header-text: "Nanum Gothic", sans-serif;
  --paragraph-text: "Inconsolata", monospace;
}

:root {
  --search-bg-clr: rgb(247, 229, 244);
  --main-tone: rgba(252, 168, 170, 1);
  --footer-txt: rgb(208, 105, 255);
  --header-txt-clr: rgb(128,128,128);
}

:root {
  --header-gap: 85px;
  --padding-size: 5%;
}/*# sourceMappingURL=main.css.map */