@import 'header';
@import 'sectionhero';
@import 'sectionprojects';
@import 'footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    padding: 0 10%;
}
/*
:root{
    --imagesize : 40px;
}
*/
