@import 'header';
@import 'sectionHero';
@import 'canvas';
@import 'sectionProjects';
@import 'sectionSearchResults';
@import 'footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --header-text: "Nanum Gothic", sans-serif;
    --paragraph-text: "Inconsolata", monospace;
}
:root{
    --search-bg-clr: rgb(247, 229, 244);
    --main-tone: rgba(252, 168, 170, 1);
    --footer-txt: rgb(208, 105, 255);
    --header-txt-clr: rgb(128,128,128);
    --dark-mode-txt: rgb(202, 194, 194);
}

:root{
    --header-gap: 85px;
    --padding-size: 5%;
}

